#services{
    padding: 15rem 0;
    border-top: 0.5rem solid var(--secondary-color);
    border-top-style: dotted;
}
.service-container{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5rem;
}
.service{
    flex-basis: calc(50% - 2.5rem);
}
.service>address{
    font-style: normal;
    font-size: 3.5rem;
    font-family: var(--primary-font);
    font-weight: 100;
}
.service>p{
    font-family: var(--secondary-font);
    font-size: 2rem;
    letter-spacing: 0.2rem;
    word-spacing: 0.4rem;
    line-height: 3rem;
    color: #000;
    opacity: 0.8;
    padding-right: 5rem;
}
.service-header{
    position: relative;
    z-index: 2;
}
.service-header>img{
    position: absolute;
    width: 15rem;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.5;
}
.service-header>h1{
    font-family: var(--primary-font);
    font-size: 7rem;
    font-weight: 100;
    margin-left: 7.5rem;
    margin-top: 7.5rem;
}